
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="jumbotron">
    @Html.ActionLink("Players", "ShowPlayers", "Player")
    <br />
    @Html.ActionLink("Positions", "ShowPositions", "Position")
    <br />
    @Html.ActionLink("Teams", "ShowTeams", "Team")
</div>

